@font-face {
    font-family: "SDV";
    src:url("Stardew_Valley.ttf")
}

:root {
    --brown: #e7830e;
    --dark-brown: #8c3800;
    --beige: #fabc73;
    --highlight: #ffe29d;
    --font: #32151f;
    --title: #FFD921;
}

* {
    font-family: SDV;
    margin: 0;
    color: var(--font);
}

/* main {
} */

body {
    font-size: 1.2rem;
    height: 100mh;
    width: 100mw;
    background-image: url(img/mountainsBg.png);
    background-size: cover;
    overflow: hidden;
}

header h1,p{
    color: var(--title);
    text-align: center;
    text-shadow: 0 0 5px var(--brown);
}

header h1 {
    font-size: 3rem;
}

header {
    margin: 1em;
}

ul {
    list-style-image: url('img/checklistOff.png');
}

textarea {
    font-size: 1.5rem;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center {
    text-align: center;
}

.top {
    background-color: var(--beige);
    border-top: 4px solid var(--brown);
    border-bottom: 4px solid var(--brown);
}

.top-line {
    font-size: 1rem;
    padding: 1em;
    border-right: 4px solid var(--brown);
}

.seasons {
    width: 25%;
}

.travelingmerchant {
    width: 45%;
}

.bundlerewards {
    width: 30%;
}

.main-box {
    width: 80%;
    height: 50vh;
    padding: 2em;
    margin: 2em auto;
    justify-self: center;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(2px);
    overflow: auto;
}

.box {
    width: 26%;
    border: 4px solid var(--brown);
    box-shadow: 0 0 3px var(--dark-brown);
    background-color: var(--beige);
    padding: 0.5em 1em;
    margin: 1em;
}

.box:has(input[type="checkbox"]) {
    /* Trying to recreate a <ul> */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.active-check {
    list-style-image: url('img/checklistOn.png');
    text-decoration: line-through;
}

label input[type="checkbox"] {
    /* The actual checkbox gets hidden... */
    display: none;
}

label:has(input[type="checkbox"]) {
    display: grid;
    align-items: center;
    grid-template-columns: 40px 1fr;

    /* ... so we can put custom images into a :before instead */

    &:before {
        content: "";
        width: 33px; height: 33px;
        display: inline-block;
        background: url('img/checklistOff.png');
    }

    &:has(input[type="checkbox"]:checked) {
        text-decoration: line-through;
        &:before { background: url('img/checklistOn.png') }
    }
}


.center-li {
    top:-0.5em;
    position:relative;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }